# init.mods.rc

service initd /system/xbin/busybox run-parts /system/etc/init.d/
    class main
    user root
    group root
    oneshot

service data2sd /system/bin/sh /sbin/data2sd.sh
    user root
    group root
    oneshot
	
on property:init.svc.data2sd=stopped
    trigger post-fs-data
    load_persist_props

on post-fs
    start data2sd


